# Required for the Twisted client, obviously, but not for the procedural one.

Twisted==22.1.0


# These packages are only used for building and running tests, not for using
# either client.

pycodestyle==2.4.0
pylint==1.9.3
