# Required for the Twisted client, obviously, but not for the procedural one.

Twisted==24.11.0


# These packages are only used for building and running tests, not for using
# either client.

pycodestyle==2.12.1
pylint==3.3.5
